<div class="card mb-2">
  <h5 class="card-header">
    <%= link_to task.name, task %>
  </h5>
  <div class="card-body">
    <h5 class="card-title">
      説明
    </h5>
    <p class="card-text">
      <%= task.description %>
    </p>
    <h5 class="card-title">
      期日
    </h5>
    <p class="card-text">
      <%= task.due_on %>
    </p>
    <h5 class="card-title">
      終了ステータス
    </h5>
    <p class="card-text">
      <% if task.completed %>
        終了
      <% else %>
        進行中
      <% end %>
    </p>
  </div>
</div>
